<configuration>
  <system.webServer>
    <!-- 
      IIS Reverse Proxy Configuration for Nuxt 3 + PM2
      This configuration forwards all requests to the Nuxt app running on localhost:3000 via PM2
    -->
    <rewrite>
      <rules>
        <!-- Reverse Proxy to PM2 -->
        <rule name="ReverseProxyToNuxt" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
